.header_area .main-menu .nav-item .nav-link {
    text-transform: uppercase;
    padding: 0.9rem;
    color: var(--title-color);
 }

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}

.navbar-logo {
    font-family: 'Sixtyfour';
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width:550px) {
    .navbar-logo{
        font-size: 16px;
    }
}